header{
    width: 100%;
    height: 50px;
    background-color:#f95602;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: indigo;
    text-align: center;
}
main{
    margin-top: -20px;
    width: 100%;
    height: 50px;
    background-color: #8cd600;
}
h1{
    color: indigo;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
}
.container{
    margin-top: 60px;
    margin-left: 450px;    
}
.product{    
    display: inline-block;
    padding: 15px 120px;
}
h3{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*flex direction is a property that specifies hoe to arrange the object in a container with a location*/
.box{
    width: 90%;
    max-width: 1000px;
    padding: 40px 20px;
    margin: auto;
    display: flex;    
    flex-direction: column;
    align-items: center;
}
/*display flex is a property that alters the element dimensions and fills the avaliable space*/
/*space between gives a space between the chip and the form for credit card details */
.plastic{
    width: 100%;
    max-width: 550px;
    padding: 30px;
    margin-left: 650px;
    margin-right: 500px;    
    color: ivory;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    min-height: 315px;    
    background-image:url(https://wallpapersmug.com/large/5f59fc/multi-color-triangular-pattern.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;       
}
.chip img{
    width: 100%;
    height: 100%;
    max-width: 50px;
    margin-bottom: 20px;
}
.personal-details{
    font-size: 16px;
    margin-bottom: 5px;
}
.data{
font-size: 20px;
justify-content: space-between;
margin-top: 20px;
}
.goback{
    color: indigo;
    margin: auto;
    display: flex;
    align-items: center;
    border-style: none;
    padding: 12px 24px;
    background-color: #f95602;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div#closing{
    width: 100%;
    height: 50px;
    background-color:#8cd600;
}
.img-container img{
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    height: 300px;
}
footer{
    margin-top: -20px;
    width: 100%;
    height: 70px;
    background-color: #e22882;
}
p{
    color: ivory;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
