header{
    width: 100%;
    height: 50px;
    background-color:#f95602;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: indigo;
    text-align: center;    
}
.img-container img{
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    height: 300px;
}
main{
    width: 100%;
    height: 50px;
    background-color: #8cd600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: indigo;
    text-align: left;
}
/*float right allows items to show on the right side*/
nav{
    float: right;
    margin-right: 100px;
    margin-top: -80px;          
}
/*float left organizes the titles of the list to the left*/
li{    
    float: left;
    list-style: none;
    padding: 30px;
}
/*text decoration deletes the list bullets (home, contact us, go shopping and about us)*/
a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;    
}
img{
    background-position: center;
    margin-top: -16px;
    width: 100%;       
}
/*hover is a style effect that shows a change when the user moves the mouse above an element*/ 
/*boder radius is a property that defines the radius of the element´s corners*/
li:hover{
    background-color: beige;    
    border-radius: 30px;           
}
footer{
    width: 100%;
    height: 70px;
    margin-top: -30px;
    background-color: #e22882;
}
p{  
    margin-top: 30px;
    color: ivory;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
